packages:
  yum:
    git: []
    gcc: []
    gcc-c++: []
    make: []
    python3-devel: []
    libffi-devel: []
    openssl-devel: []
    blas-devel: []
    lapack-devel: []
    atlas-devel: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONUNBUFFERED: "1"

  aws:elasticbeanstalk:container:python:
    WSGIPath: unified_server:app

  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    EC2KeyName: ""

  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    HealthCheckInterval: 30
    HealthCheckTimeout: 5
    UnhealthyThresholdCount: 3
    HealthyThresholdCount: 2

  # HTTPS listener - uncomment and add SSL certificate ARN after getting cert from ACM
  # aws:elbv2:listener:443:
  #   Protocol: HTTPS
  #   SSLCertificateArns: arn:aws:acm:REGION:ACCOUNT:certificate/CERT-ID

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
